@{
    Layout = "";
}
@model Nop.Plugin.Tax.AvalaraTax.Models.TaxAvalaraModel
@using Nop.Web.Framework
<style>
    .form-group-radio {
        margin-left: 15px;
    }

    .vbMessage {
        color: red;
        font-weight: bold;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" value="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Save Settings
            </button>
            <button type="submit" name="clear" value="clear" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                Clear Log
            </button>
            <button type="submit" name="batch" value="batch" class="btn bg-blue">
                <i class="fa fa-gear"></i>
                Submit Batch Transactions
            </button>
        </div>
    </div>


    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Avalara Authentication

                    </div>
                    <div class="panel-body">

                        <p class="avalara-text">For help using this plugin, please <a href="http://support.cloudcartconnector.com/hc/en-us/sections/200977599-Avalara" target="_blank">click here</a>.</p>


                        <p class="vbMessage">
                            @ViewBag.Message
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraAccount)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraAccount)
                                @Html.ValidationMessageFor(model => model.AvalaraAccount)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraLicense)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraLicense)
                                @Html.ValidationMessageFor(model => model.AvalaraLicense)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraURL)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraURL)
                                @Html.ValidationMessageFor(model => model.AvalaraURL)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraCompanyCode)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraCompanyCode)
                                @Html.ValidationMessageFor(model => model.AvalaraCompanyCode)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraJMALicenseKey)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraJMALicenseKey)
                                @Html.ValidationMessageFor(model => model.AvalaraJMALicenseKey)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Avalara Shipping Origin Address

                    </div>
                    <div class="panel-body">
                        <p class="avalara-text">Enter the address of your business location.</p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraShippingOriginAddress1)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraShippingOriginAddress1)
                                @Html.ValidationMessageFor(model => model.AvalaraShippingOriginAddress1)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraShippingOriginAddress2)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraShippingOriginAddress2)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraShippingOriginCity)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraShippingOriginCity)
                                @Html.ValidationMessageFor(model => model.AvalaraShippingOriginCity)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraShippingOriginState)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraShippingOriginState)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraShippingOriginZip)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraShippingOriginZip)
                                @Html.ValidationMessageFor(model => model.AvalaraShippingOriginZip)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraShippingOriginCountry)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraShippingOriginCountry)
                                @Html.ValidationMessageFor(model => model.AvalaraShippingOriginCountry)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Error Logging

                    </div>
                    <div class="panel-body">

                        <p class="avalara-text">To log sending and receiving data from Avalara, choose one of these buttons. If you check the first box, transactions will appear in avalaralog.txt, located at the root of your website. We recommend using the logging, when you first set-up your site. Once the plugin is working, you may choose no logging.</p>

                        <div class="form-group-radio">
                            @foreach (SelectListItem selectListItem in Model.AvalaraLogOptions)
                                    {
                                    <div class="radio">


                                        <label><input type="radio" class="configurecheckbox" name="AvalaraLogOptionsResponse" id="AvalaraLogOptionsResponse" value="@selectListItem.Text" checked="@selectListItem.Selected">@selectListItem.Text</label>
                                    </div>
                                    }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Avalara Tax Codes

                    </div>
                    <div class="panel-body">

                        <p class="avalara-text">If you are an AvaTax Basic customer, you may ignore this section. If you are an AvaTax Pro customer, you can assign tax codes to items. If you assign no code or leave this box unchecked, all items are assumed taxable using Avalara code P9999999. To enable tax codes, follow these steps:</p>

                        <ol>
                            <li>Uncheck the box below this list.</li>
                            <li>Go to configuration > tax > tax categories.</li>
                            <li>Enter your Avalara tax codes.</li>
                            <li>Go to catalog > products and select a product.</li>
                            <li>For nopCommerce 3.0 or order, go to product variants and edit a variant. For nopCommerce 3.1 and higher, edit a simple product.</li>
                            <li>Change the tax category to an Avalara tax code.</li>
                        </ol>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.UseAvalaraDefaultTaxClass)
                            </div>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.UseAvalaraDefaultTaxClass)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Region and AVS Settings

                    </div>
                    <div class="panel-body">
                        <p class="avalara-text">
                            If you would like to specify U.S states or regions where nopCommerce sends Avalara transactions, please check the box below this paragraph.
                            In the field below the checkbox, enter two letter states separated by commas like NY,MA.
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraUseState)
                            </div>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.AvalaraUseState)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraTaxStates)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraTaxStates)
                            </div>
                        </div>
                        <p class="avalara-text">
                            If the city or state is incorrect, Avalara can validate each address to ensure accuracy. You may validate addresses, if the postal code or street address is incorrect. In this case, the plugin will validate any address and advancing through the cart will be slower. To validate addresses from certain countries only, type two letter country abbreviations into the textbox separated by commas like US,UK.
                        </p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraDoAddress)
                            </div>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.AvalaraDoAddress)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraDoAddressAll)
                            </div>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.AvalaraDoAddressAll)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraAddressCountries)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraAddressCountries)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Other Settings

                    </div>
                    <div class="panel-body">
                        <p class="avalara-text">
                            The doc prefix will add a prefix to your order, when it's sent to Avalara. This is ideal for testing purposes.
                        </p>
                        <p class="avalara-text">
                            Orders are sent to Avalara with completed status by default. Use the order status drop down to change this feature. To charge tax, but never have orders appear in your Avalara admin, check the never call insert tax box.
                        </p>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraDocCodePrefix)
                            </div>
                            <div class="col-md-9">

                                @Html.NopEditorFor(model => model.AvalaraDocCodePrefix)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraOrderStatus)
                            </div>
                            <div class="col-md-8">
                                @Html.NopDropDownListFor(model => model.AvalaraOrderStatus, Model.AvalaraOrderStatuses)
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.NeverUseInsertTax)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.NeverUseInsertTax)
                            </div>
                        </div>


                        <p class="avalara-text">By default, the connector sends FR as the tax code to Avalara. To send a different code, enter it here:</p>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraShippingCode)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AvalaraShippingCode)
                            </div>
                        </div>

                        <p class="avalara-text">By default, the connector sends the customer's email as the reference code. To use another value, click the dropdown:</p>


                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AvalaraCustomerReference)
                            </div>

                            <div class="col-md-8">
                                @Html.NopDropDownListFor(model => model.AvalaraCustomerReference, Model.AvalaraCustomerReferences)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Batch Transactions

                    </div>
                    <div class="panel-body">


                        <p class="avalara-text">
                            Use the form below to do batch sales or return invoices to Avalara. For example, type 1 as the lowest and 10 as the highest. Then, check the return
                            invoice box. This will send orders 1 - 10 as return invoices.
                        </p>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.LowestOrderNumber)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.LowestOrderNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.HighestOrderNumber)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.HighestOrderNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.DoAvalaraReturnInvoice)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.DoAvalaraReturnInvoice)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
